## Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

# Build folders
bin/
obj/
*/bin/
*/obj/

# Rider
.idea/

# NuGet
packages/
*.nupkg
project.lock.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore published output
publish/
